[defaults]
inventory = inventory/gcp.yml
remote_user = bintang
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
roles_path = roles

[ssh_connection]
pipelining = True